@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #08183A;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}


.navbar-container{
  animation: navbar-slide 0.5s ease;
}

@keyframes navbar-slide{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0044cc, 0 0 20px #0044cc, 0 0 25px #0044cc, 0 0 30px #0044cc, 0 0 35px #0044cc;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #0066ff, 0 0 20px #0066ff, 0 0 25px #0066ff, 0 0 30px #0066ff, 0 0 35px #0066ff, 0 0 40px #0066ff;
  }
}

.role::after{
/* space between the image and the text */
  content: "";
  display: block;
  height: 20px;
  width: 100px;
  border-radius: 10px;
  background-color: #0066ff;
  margin-top: 10px;
  animation: increase-width 1s ease;
}

@keyframes increase-width{
  0%{
    width: 0px;
  }
  100%{
    width: 100px;
  }
}

.white-svg{
  filter: invert(100%);
}