@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

#name-drop {
  background: -webkit-linear-gradient(#9500ff, #f47474);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.normal-text {
  font-size: 1.2rem;
  font-weight: light;
}

.medium-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5rem;
}

.medium-title::first-letter {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(64, 14, 170);
  margin-right: 0.2rem;
}